
#candyWrapper{
    margin:20px;
    position:relative;
}

.grayscale{
    -webkit-filter: grayscale(1); 
}

.element, .button{
    border: 1px solid black;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.element{
    background: lightblue;
    position: relative;
    transition: 0.6s ease background;
}

.element-hover{
    transition: 0s ;
    background: lightgreen !important;
}

.symbol{
    text-align: center;
    color:#262626;
    font-family: Arial;
    font-weight: bold;
    /*border: 1px solid white;*/
}

.number{
    position:absolute;
    /*border: 1px solid white;*/
    font-family: Arial;
    color:#262626;
    font-size:15px;
    top: 0px;
    left: 3px;
    font-weight: bold;
}

.mass{
    text-align: center;
    font-family: Arial;
    color:#262626;
    position:absolute;
    bottom:-3px;
    /*width:80px;*/
    /*left:10px;*/
}

#infobox{
    position: relative;
}

#info-name{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 300px;
    font-size: 40px;
}

#info-symbol{
    position: absolute;
    font-size: 80px;
    top: 10px;
    left: 8px;
}

#info-type{
    right: 10px;
    bottom: 10px;
}

#info-typeBIG{
    position:absolute;
    font-family: monospace;
    font-size:50px;
    left: 10px;
    bottom: 10px;
}

.info{
    position:absolute;
    font-family: monospace;
    font-size: 25px;
}

.info-col-1{
    left: 240px;
}

.info-col-2{
    left: 630px;
}

#info-number{
    top: 20px;
}


#info-mass{
    top:50px;
}

#info-eneg{
    top:80px;
}

#info-density{
    top:110px;
}

#info-boiling{
    top:20px;
}

#info-melting{
    top:50px;
}

#info-specific{
    top:80px;
}

.nodata{
    color:red;
}

.smallerText{
    /*font-size:30px;*/
}

#calc-button{
    text-align: center;
    background: white;
    font-size: 70px;
    color: lightblue;
}

#calculator-clear{
    position: absolute;
    bottom: 10px;
    right:10px;
    line-height: 1;
    font-size:30px; 
    color: #262626;
    cursor: pointer;
}

#calculator-clear:hover{
    color:#f58989;
}

#calculator-type{
    position: absolute;
    right:0;
    top:0;
    font-size:30px;
    background:#f1f1f1;
    color: #262626;
    outline:none;
    border:none;
    padding-left:20px;
}

#calculator-container{
    position: relative;
    border-top:1px solid black;
    font-family: monospace;
    height: inherit;
    background: lightblue;
    overflow: hidden;
}

#calculator-screen{
    color: #262626;
    position: absolute;
    /*border: 1px solid black;  */
    width:500px;  
    bottom:10px;
    left:10px;
    font-size:50px;
    line-height:1;
}

#molecule-container{
    position: absolute;
    color: #262626;
    font-size:40px;
    top:10px;
    left:10px;
    line-height:1;
}
#molecule-name{
    position: relative;
    color: #262626;
    font-size:40px;
    font-weight:bold;
    top:50px;
    text-align: center;
    line-height:1;
}

#scale-container{
    position: relative;
    border-top:1px solid black;
    font-family: monospace;
    background: lightgreen;
    overflow: hidden;
}

.scale{
    font-size:25px;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    /*border: 1px solid black;*/
}
.scale:hover{
    color: #f58989;
}
.scale:hover:before{
    content: '.';
}

.scale-col-1{
    left:30px;
}

.scale-col-2{
    left: 400px;
}

.scale-row-1{
    top:10px;
}

.scale-row-2{
    top:40px;
}

.scale-row-3{
    top:70px;
}

.scale-row-4{
    top:100px;
}


#layer1{
    fill: lightblue;
}

#scale-button:hover #layer1{
    fill: lightgreen;
}

.other-nonmetal{
    background-color: #8fc8f8;
}

.halogen{
    background-color: #9487f8;
}

.noble-gas{
    background-color: #85f780;
}

.alkali-metal{
    background-color: #f4ee64;
}

.alkaline-earth{
    background-color: #fcc171;
}

.metalloid{
    background-color: #f58989;
}

.transition-metal{
    background-color: #ea93d9;
}

.post-transition-metal{
    background-color: #77f0b4;
}

.lanthanoid{
    background-color: #c7c7c7;
}

.actinoid{
    background-color: #989898;
}