
#candyWrapper{
    margin:20px;
}

.element{
    background: lightblue;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: 0.3s ease all;
}

.element:hover{
    background: lightgreen;
    transition: 0s ease all;
    /*-webkit-filter: blur(0px);*/
}

.symbol{
    text-align: center;
    color:#262626;
    font-family: Arial;
    font-weight: bold;
    /*border: 1px solid white;*/
}

.number{
    position:absolute;
    /*border: 1px solid white;*/
    font-family: Arial;
    color:#262626;
    font-size:15px;
    top: 5px;
    left: 5px;
    font-weight: bold;
}

.mass{
    text-align: center;
    font-family: Arial;
    color:#262626;
    position:absolute;
    bottom:0px;
    width:80px;
    left:10px;
}

#info{
    position: relative;
    border: 1px solid black;
    padding: 10px; 
}

#info-name{

}

#info-symbol{

}

#info-number{

}

#info-mass{

}

#info-melting{

}

#info-boiling{

}

#info-electronegativity{

}

#info-specific{

}

#info-type{

}

#info-density{

}


.other-nonmetal{
    background-color: #8fc8f8;
}

.halogen{
    background-color: #9487f8;
}

.noble-gas{
    background-color: #85f780;
}

.alkali-metal{
    background-color: #f4ee64;
}

.alkaline-earth{
    background-color: #fcc171;
}

.metalloid{
    background-color: #f58989;
}

.transition-metal{
    background-color: #ea93d9;
}

.post-transition-metal{
    background-color: #77f0b4;
}

.lanthanoid{
    background-color: #c7c7c7;
}

.actinoid{
    background-color: #989898;
}