
#candyWrapper{
    margin:20px;
}

.element{
    background: lightblue;
    /*border: 1px solid black;*/
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: 0.2s ease all;
    -webkit-filter: grayscale(1);
}

.element:hover{
    /*background: lightgreen;*/
    transition: 0s ease all;
    -webkit-filter: grayscale(0);
}

.symbol{
    text-align: center;
    color:#262626;
    font-family: Arial;
    font-weight: bold;
    /*border: 1px solid white;*/
}

.number{
    position:absolute;
    /*border: 1px solid white;*/
    font-family: Arial;
    color:#262626;
    font-size:15px;
    top: 5px;
    left: 5px;
    font-weight: bold;
}

.mass{
    text-align: center;
    font-family: Arial;
    color:#262626;
    position:absolute;
    bottom:0px;
    width:80px;
    left:10px;
}

#infobox{
    position: relative;
    /*border-top: 1px solid black;*/
}

#info-name{
    /*border: 1px solid black;*/
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 300px;
    font-size: 40px;
}

#info-symbol{
    /*border: 1px solid black;*/
    position: absolute;
    font-size: 80px;
    top: 10px;
    left: 8px;
    width: 150px;
}

#info-number{
    position:absolute;
    font-family:monospace;
    font-size: 20px;
    left: 170px;
    top: 20px;
}

#info-mass{
    position:absolute;
    font-family:monospace;
    font-size: 20px;
    left: 170px;
    top:40px;
}

#info-type{
    position:absolute;
    font-family:monospace;
    font-size: 20px;
    right: 10px;
    bottom: 10px;
}

#info-eneg{
    position:absolute;
    font-family:monospace;
    font-size: 20px;
    left: 170px;
    top:80px;
}

#info-density{
    position:absolute;
    font-family:monospace;
    font-size: 20px;
    left: 170px;
    top:60px;
}

#info-boiling{
    position:absolute;

}

#info-melting{
    position:absolute;

}

#info-specific{
    position:absolute;

}

.nodata{
    color:red;
}


.other-nonmetal{
    background-color: #8fc8f8;
}

.halogen{
    background-color: #9487f8;
}

.noble-gas{
    background-color: #85f780;
}

.alkali-metal{
    background-color: #f4ee64;
}

.alkaline-earth{
    background-color: #fcc171;
}

.metalloid{
    background-color: #f58989;
}

.transition-metal{
    background-color: #ea93d9;
}

.post-transition-metal{
    background-color: #77f0b4;
}

.lanthanoid{
    background-color: #c7c7c7;
}

.actinoid{
    background-color: #989898;
}